/* General Body Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
    color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

/* Form Container */
.form-container {
    max-width: 400px;
    width: 100%;
    padding: 20px 25px;
    background: #1c1c1c;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #00FF96;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Input Fields */
input[type="text"], input[type="password"] {
    width: 92%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background: #2b2b2b;
    color: #eaeaea;
    font-size: 14px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #00FF96;
    background-color: #333;
}

/* Button Styling */
.SignInButton {
    width: 100%;
    padding: 12px;
    margin-top: 40px;
    background-color: #00FF96;
    color: #1c1c1c;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.SignIpButton:hover {
    background-color: #00d884;
    transform: translateY(-2px);
}

/* Sign-In Link */
.container.signup {
    text-align: center;
    margin-top: 20px;
}

.container.signup a {
    color: #00FFFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.container.signup a:hover {
    color: #00FF96;
}