<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="{{url_for('static', filename='Base.css')}}">
    {% block head %}
    {% endblock %}
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <h4>EAN</h4>
            </div>

            <ul class="nav-links">
                <li><a href="{{url_for('Home')}}">Home</a></li>
                <li><a href="{{url_for('Reports')}}">Reports</a></li>
                <li><a href="{{url_for('CreateReport')}}">Create Report</a></li>
                <li><a href="{{url_for('SignIn')}}">Sign In</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>