{%extends "base.html" %}


{%block head%}
<link rel= "stylesheet" href="{{url_for('static', filename='Reports.css')}}">
<title>Reports - EAN</title>
{%endblock%}


{%block content%}

<div class="container">

    {% if Reports | length < 1 %}
    <div>
        <h1>No Reports Found</h1>
    </div>

    {% else %}
        {% for report in Reports %}
            <div class="Card Report">
                <img src="{{url_for('static', filename='Images/Report.png')}}" alt="Report Image" class="ReportImage">
                <div>
                    <h2>{{report.Title}}</h2>
                    <h4>Type: {{report.Type}}</h4>
                    <h4>Date-Time: {{report.DateTime}}</h4>
                    <h4>Location: {{report.Location}}</h4>
                    <h4>Posted by: {{report.PostedBy}}</h4>
                </div>
                <a href="{{url_for('CreateReport')}}" class="button">View Report</a>
                
            </div>
        {% endfor %}
    {% endif %}
    
</div>

<div class="container Section">
    <a href="{{url_for('CreateReport')}}">Create Report</a>
</div>

{%endblock%}