<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="{{url_for('static', filename='SignIn.css')}}">
    <title>SignIn - EAN</title>
</head>

<body>

<div class="form-container">
    <h1>Sign In</h1>
    <form action="/SignIn/" method="POST" id="signInForm">
        <div>
            <label for="UserName"><b>UserName</b></label>
            <input type="text" id="UserName" name="UserName" placeholder="Enter UserName" required aria-label="UserName">
        </div>

        <div>
            <label for="Password"><b>Password</b></label>
            <input type="password" id="Password" name="Password" placeholder="Enter Password" required aria-label="Password">
        </div>

        <button type="submit" class="SignInButton">Sign In</button>
    </form>
    <div class="container signup">
        <p>Don't have an account? <a href="{{url_for('SignUp')}}">Sign Up</a>.</p>
    </div>
</div>

</body>

</html>