<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="{{url_for('static', filename='SignUp.css')}}">
    <title>SignUp - EAN</title>
</head>


<body>

<div class="form-container">
    <h1>Sign Up</h1>
    <form action="/SignUp/" method="POST" id="signUpForm">
        <div>
            <label for="UserName"><b>UserName</b></label>
            <input type="text" id="UserName" name="UserName" placeholder="Enter UserName" required aria-label="UserName">
        </div>

        <div>
            <label for="Name"><b>Name</b></label>
            <input type="text" id="Name" name="Name" placeholder="Enter Name" required aria-label="Name">
        </div>

        <div>
            <label for="Email"><b>Email</b></label>
            <input type="email" id="Email" name="Email" placeholder="Enter Email" required aria-label="Email">
        </div>

        <div>
            <label for="Password"><b>Password</b></label>
            <input type="password" id="Password" name="Password" placeholder="Enter Password" required aria-label="Password">
        </div>

        <div>
            <label for="RepeatPassword"><b>Repeat Password</b></label>
            <input type="password" id="RepeatPassword" name="RepeatPassword" placeholder="Repeat Password" required aria-label="Repeat Password">
        </div>

{#        <div id="errorMessage">{{ error }}</div>#}

        <button type="submit" class="SignUpButton">Sign Up</button>
    </form>
    <div class="container signin">
        <p>Already have an account? <a href="{{url_for('SignIn')}}">Sign In</a>.</p>
    </div>
</div>

</body>

</html>