{%extends "base.html" %}


{%block head%}
<link rel= "stylesheet" href="{{url_for('static', filename='ViewReport.css')}}">
<title>View Report - EAN</title>
{%endblock%}


{%block content%}

UserName: {{ ActiveUser }}

{% if Reports | length < 1 %}
    <h3>No Reports found!</h3>

{% else %}
    {% for report in Reports %}
        <div class="Container">
            Id: {{report.Id}}<br>
            Title: {{report.Title}}<br>
            Description: {{report.Description}}<br>
            Type: {{report.Type}}<br>
            DateTime: {{report.DateTime}}<br>
            Location: {{report.Location}}<br>
            PostedBy: {{report.PostedBy}}
        </div>
    {% endfor %}
{% endif %}

{%endblock%}