<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="{{url_for('static', filename='Styles.css')}}">
    <title>Environmental Action Network</title>
</head>

<body>
    <div class="Container">
        <div class="Header">
            <div id="Title">Environmental Action Network</div>
            <div id="Tagline">Tagline</div>
        </div>
        <div class="Content">
            <div class="Button">
                <a class="Link" href="{{url_for('SignUp')}}">SignUp</a>
            </div>
            <div class="Button">
                <a class="Link" href="{{url_for('SignIn')}}">SignIn</a>
            </div>
        </div>
        <div class="Footer">
            <div class="Button">
                <a class="Link" href="{{url_for('Home')}}">Skip SignIn (Develper)</a>
            </div>
            <div id="Copyright">&copy S7-Shadow. All rights reserved.</div>
        </div>
    </div>
</body>

</html>